<!DOCTYPE html>
	<html>
	<head>
	<meta charset="utf-8">
	<title>@{{ .UserInfo.UserName }}{{ if gt .PageCount 0 }} - {{ .Page }}/{{ .PageCount }}{{ end }}</title>
	<link rel="stylesheet" href="{{ stylesheet_url }}">
  {{ search_js }}
	</head>
	<body>
	<header>
		<h1>
			@{{ .UserInfo.UserName }}
		</h1>
		<aside>
			<figure>
				{{ $profile_avatar_url := profile_avatar_url .Profile }}
				{{ with $profile_avatar_url }}
				<img src="{{ . }}" alt="{{ $.UserInfo.UserName }} Avatar">
				{{ end }}

				<figcaption>
					<details>
						<summary>Bio</summary>
						<strong>{{ .UserInfo.DisplayName }}</strong>
						<p>{{ .Profile.Description.Bio }}</p>
					</details>
					<details>
						<summary>Website</summary>
						<p>
							<a href="{{ .Profile.Description.Website }}">
								{{ .Profile.Description.Website }}
							</a>
						</p>
					</details>
					<details>
						<summary>Location</summary>
						<p>{{ .Profile.Description.Location }}</p>
					</details>
				</figcaption>
			</figure>
		</aside>
    {{ searchbox }}
	</header>
	{{ if or (.PrevPage) (.NextPage) }}
	<nav>
	{{ if .PrevPage }}
	<a class="prev" href="{{ .PrevPage }}">Previous</a>
	{{ end }}
	{{ if .NextPage }}
	<a class="next" href="{{ .NextPage }}">Next</a>
	{{ end }}
	</nav>
	{{ end }}
	<main>
  {{ search_results }}
